@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 306px auto;
    grid-template-rows: 100px auto;
    grid-template-areas:
    "to-do topbtn__container"
    "project__sidebar task__area";
}

.task__area, .topbtn__container {
    background: #292929;
    

}


.to-do {
    grid-area: to-do;
    

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 56px;

    background: #414141;
}

.logo {
    margin-top: 22px;
    margin-left: 30px;
    color: white;
}
.topbtn__container {
    grid-area: topbtn__container;
    border-bottom: 1px solid rgba(104, 103, 103, 0.76);
    
}

.topbtns {
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}


.add__task {
    width: 200px;
    height: 54px;
    background: #5161F0;
    border-radius: 9px;
    border: none;
    margin-right: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    cursor: pointer;
}

.add__task:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    
}
.add__task:hover {
    background: #3e4ab6;
}


.clear__all {
    width: 200px;
    height: 54px;
    background: #F15050;
    border-radius: 9px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    cursor: pointer;
}

.clear__all:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    
}
.clear__all:hover {
    background: #c94343;
}

.date__time {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 2em;
    line-height: 47px;
    /* identical to box height */
    color: #FFFFFF;
    }

.project__sidebar {
    grid-area: project__sidebar;
    background: #5A5A5A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add__project__btn {
    background: #0094FF;
    border-radius: 9px;
    width: 200px;
    height: 54px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 25px;
    cursor: pointer;

}

.add__project__btn:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.add__project__btn:hover {
    background: #017cd4;
}

.task__area {
    grid-area: task__area;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}


.project__box {
    width: 279px;
    height: 91px;
    margin-bottom: 20px;
    background: #B9B9B9;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 139px auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project__title trashicon"
    "list complete";
}

.list {
    grid-area: list;
    display: flex;
    
    padding-left: 52px;
    height: 40px;
    width: 205px;
    
}

.complete {
    grid-area: complete;
    display: flex;
    
    margin-left: 10px;
    
}

.project__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17.8183px;
    line-height: 21px;
    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
}

.trash__icon {
    position: absolute;
    grid-area: trashicon;
    left: 260px;
    padding-top: 5px;
    cursor: pointer;
    
}

.list__icon{
    grid-area: list__icon;
    height: 35px;
    width: 35px;

}

.list__num {
    background: #E04F5F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:white;
    margin-left: 5px;
}

.checkmark__icon{
    grid-area: checkmark__icon;
    height: 35px;
    width: 35px;

}

.completed__tasks{
    grid-area: completed__tasks;
    background: #32BEA6;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
    color:white;
}

.task {
    width: 95%;
    height: 65px;
    background-color: #626262;
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 200ms ease;
    /* border: 3px rgb(201, 201, 201) solid; */

}

.task:hover {
    border: 1px rgb(201, 201, 201) solid;
    transform: scale(1.005)

}

.task__description {
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
}

.right__side {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 21px;
    color: white;
    
}
.task__date{
    margin-right: 40px;
    
}
.checkmark__icon {
    cursor: pointer;
}

.delete__icon{
    margin-right: 10px;
    cursor: pointer;
}


#modal-bg {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0 , 0, 0.7);
    top : 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation-name: modalAnimation;
    animation-duration: 1s; 
}

@keyframes modalAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.7);
    text-align: center;
    background-color: cornflowerblue;
}

.close{
    position: relative;
    right: -220px;
    font-size: 50px;
    transform: rotate(45deg);
    font-weight: bold;
    color: azure;
}

input {
    width: 333px;
    padding: 5px;
    margin: 3px;
    border-color: lightgrey;
    border-radius: 5px;
    border-width: 1px;
     
} 

#submitButton {
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
    font-size: larger;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#submitButton:active {
    transform: translateY(3px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
}

#closeBtn {
    cursor: pointer;
}